.product-grid-2 .product-item .product-caption .product-name span::after
{
    border-top-color: #1a2d58 !important;
	border-left-color: #1a2d58 !important;
	border-right-color:rgba(0,0,0,0) !important;
	border-bottom-color:rgba(0,0,0,0) !important;
}

.logo img
{
    margin-top : 30px !important;
    width : 50% !important;
}

.footer-top
{
    background-image: url('https://www.belcamion.com/templates/belcamion/images/footer.jpg');
}

.bg-gray-1
{
    background : #1a2d58 !important;
}

.product-grid-2 .product-item
{
    background: #dadada !important;
}

.footer-top .heading-1 h3
{
    border-bottom : 2px solid #f5f5f5 !important;
}

.footer-top .heading-1
{
    border-bottom : 2px solid #f5f5f5 !important;
}

.footer-top .list-default li, .footer-top p
{
    color : #dadada !important;
}

.bg-gray-0c
{
    background: #303540 !important;
}

.text-white
{
    color : #fff !important;
}

.text-justify
{
    text-align : justify;
}

.heading-1 h3::before
{
    content: '';
    border-bottom: 10px solid #ff0000;
    padding: 10px;
}

.heading-custom
{
    border-bottom: 2px solid #f00 !important;
}

.heading-1 h3, .heading-1 h4
{
    border-bottom: none !important;
}

.d-none
{
    display : none;
}

.heading
{
    background : #ff0000;
}

.owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next
{
    background : #1a2d58;
}
